@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: rgb(36, 62, 99);
} 

a {
  display: inline;
  text-decoration: none; 
}

head {
  display: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100px;
}

h1 {
  font-size: 48px;
  color: rgb(26, 32, 44);
  line-height: 1.25;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.header__description--para {
  margin: 32px 0px;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0px;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin: 16px 0px;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: rgb(124, 139, 161);
  line-height: 1.625;
}

main {
  margin-bottom: 96px;
}

/*

NAVBAR

*/

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.nav__link {
  font-style: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35%;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: 300ms;
  margin: 0px 24px;
}

.nav__logo {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  margin: 8px 0px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 378px;
  background-color: rgb(255, 255, 255);
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  margin: 24px 16px;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 231, 235);
  border-image: initial;
  border-radius: 8px;
  transition: all 300ms ease;
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.button__menu--svg {
  height: 24px;
  width: 24px;
  fill: none;
  stroke: cuurrentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn__menu {
  background-color: transparent;
  display: none;
  transition: 300ms;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}

#values .section__title,
#quality .section__title {
  line-height: 1.25;
}

/*

HEADER / ABOUT US

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  position: relative;
}

.header__description {
  width: 40%;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  color: rgb(36, 62, 99);
  font-size: 16px;
  position: absolute;
  z-index: 1;
  border-radius: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
  border-image: initial;
  padding: 20px 192px 20px 32px;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  height: calc(100% - 6px);
  width: 160px;
  background-color: rgb(100, 21, 255);
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin: 8px;
  border-radius: 500px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: 300ms;
}

.header__customers--title {
  margin-top: 80px;
  color: grey;
  font-size: 12px;
  font-weight: 700;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: calc(60%);
}

.header__img {
  max-width: 768px;
  width: 100%;
}

.purple {
  color: rgb(100, 21, 255);
}

/*

FEATURES

*/

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(33, 3333%);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
  border-image: initial;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__text {
  margin-left: 0px;
  margin-top: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(211, 333px);
  color: rgb(124, 139, 161);
  line-height: 2;
}

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

/*

QUALITY WORK

*/

#quality .btn {
  margin-top: 32px;
}

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality__description {
  max-width: 576px;
  margin-right: 64px;
}

.quality__description,
.quality__img--wrapper {
  width: 50%;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}

.quality__img {
  z-index: 1;
  width: 100%;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgb(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

/*

STEPS

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img {
  z-index: 2;
}

.steps__grid {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50);
  width: 10rem;
  height: 10rem;
  opacity: 0.8;
  z-index: -10;
  color: rgb(100, 21, 255);
  fill: rgb(100, 21, 255);
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__direction {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 8px;
  font-weight: 500;
  line-height: 2;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.steps__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

/*

VALUEs

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__description {
  padding: 32px 64px 32px 0;
}

.values__description,
.values__img {
  width: 50%;
}

.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.value {
  margin-top: 2rem;
  margin-right: 2rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.value:nth-of-type(1) {
  margin-top: 32px;
  margin-right: 32px;
}

.value__img--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.value:nth-of-type(1) .value__img--wrapper {
  background-color: #9ae6b4;
}

.value__img {
  width: 20px;
  height: 20px;
}

.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}

.value:nth-of-type(2) {
  margin-top: 32px;
}

.value:nth-of-type(2) .value__img--wrapper {
  background-color: #feb2b2;
}

.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

#values .btn {
  margin-top: 48px;
}

/*

PRICING

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing .section__para {
  text-align: center;
  max-width: 576px;
}

.plans {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  flex-direction: row;
}

.plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: rgb(26, 32, 44);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: white;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__top {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__name,
.plan__price,
.plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 1.625;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__middle {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2rem;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan__feature {
  margin-top: 20px;
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  line-height: 1.5;
}

.plan__bottom {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__button {
  border-radius: 0.25rem;
  background-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: rgb(247 250 252);
  transition: all 300ms ease;
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

/*

TESTIMONIALS

*/

#testimonials .row {
  display: flex;
}

/*

START / CALL TO ACTION

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/*

FOOTER

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/*

MOBILE RESPONSIVENESS

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }

  h1 {
    font-size: 36px;
    color: rgb(26, 32, 44);
    line-height: 1.25;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__customers {
    padding-right: 64px;
  }

  .steps__img--wrapper {
    display: flex;
    padding: relative;
  }

  .steps__description,
  .steps__img--wrapper {
    width: 50%;
  }

  .steps__grid {
    height: 5rem;
    width: 5rem;
    bottom: -50px;
  }

  .steps__description {
    padding: 32px 0;
    padding-left: 64px;
  }

  .plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .plan__button {
    max-width: none;
  }

  .plan__name,
  .plan__price,
  .plan__duration {
    font-weight: bold;
    line-height: 1.625;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }

  .header__description--para {
    margin: 20px 0px;
  }

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .header__img {
    max-width: 512px;
  }

  h1 {
    font-size: 30px;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }

  .nav__links {
    display: none;
  }

  .header__description,
  .header__img--wrapper {
    width: 100%;
    margin: 0px auto;
    max-width: 512px;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .header__customers {
    padding-right: 0px;
  }

  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__title {
    font-size: 36px;
  }

  #features .section__title,
  #pricing .section__title {
    font-size: 48px;
  }

  .section__para {
    font-size: 16px;
  }

  .features {
    max-width: 768px;
  }

  .feature {
    width: calc(50%);
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0px 16px;
  }

  .feature__title {
    line-height: 1;
  }

  .quality__description {
    margin-right: 0px;
    padding-right: 48px;
  }

  .values__list {
    flex-direction: column;
    max-width: 20rem;
  }

  .value {
    margin-top: 2.5rem;
  }

  .value__title {
    display: flex;
    align-items: center;
  }

  .value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }

  .section__para {
    font-size: 14px;
  }

  .features {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .quality__description,
  .quality__img--wrapper,
  .steps__description,
  steps__img--wrapper,
  .values__description,
  .values__img,
  .testimonials__description,
  .testimonials__img {
    width: 100%;
    max-width: 448px;
  }

  .quality__description,
  .steps__description,
  .values__description,
  .testimonials__description {
    margin-top: 64px;
    padding: 0;
    text-align: center;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .step__direction {
    margin-top: 12px;
    margin-left: 0;
  }

  .step__description {
    margin-top: 12px;
    margin-left: 0;
  }

  .values__list {
    margin-left: auto;
    margin-right: auto;
  }

  .value {
    margin-right: 0px;
    align-items: center;
  }

  .value:nth-of-type(1) {
    margin-right: 0px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    line-height: 1.5;
    padding: 16px 0px 6px 32px;
  }

  .section__title {
    line-height: 1.25;
    font-size: 30px;
  }

  #features .section__title,
  #pricing .section__title {
    font-size: 36px;
  }

  .feature__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature__text {
    margin-left: 0px;
    margin-top: 16px;
  }

  .feature__title {
    letter-spacing: 0.025em;
    line-height: 1;
  }

  .btn {
    line-height: 1.5;
  }

  .steps__list {
    margin-top: 48px;
  }

  .plan__price {
    font-size: 36px;
  }

  .plan__bottom {
    padding: 2rem 1rem;
  }
}
